body {
		text-align: center;
		font-family: Bangers, cursive;
		background-color: black;
		color: yellow;
		font-size: 25px;
}

h4 {
	display: inline-block;
	padding: 5px;
}

#displayed-pic{
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: 1;
}

@keyframes bounce {
  from {
    margin-left: 100%;
    width: auto; 
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}

/*#gameBoy {
	background-image: url(https://i.imgur.com/JaYoOFX.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
}*/